body{
    font-family: 'Fresca', sans-serif;
}

.divider{
    border-style: solid;
    color: #56374aa0;
}
.background-green{
    background-color:#7f607d;
    
    
}
.titleCajaVerde{
    text-align: center;
    color: white;
    font-size: 2rem;
}
.imgcentrado{
    text-align: center;
}

.textFinal{
    text-align: center;
    font-weight: 300;
    font-size: 10px;
}
.card-title{
color: #000000;
font-size: 1.2rem;
text-align: center;

}
.card-text{
    color: #915858;
    font-weight: 300;
}
.form-control{
    font-weight: 300;
}

.imgPrincipal{
    background-color: #f4d8f4;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.3rem;

}
.imgPrincipal img{
    padding: 3rem;
}
.titulo2{
    text-align: center;
    background-color: rgb(246, 188, 211);
    padding: 1rem;

}
